{
  "log": {
    "_recordingName": "fetch-account",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "07fceb1c7ad0635ac2b9676424f9d06e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "text/plain;charset=UTF-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain;charset=UTF-8",
            "params": [],
            "text": "{\"email\":\"paul.ilaga@creativice.com\",\"password\":\"hcuH0@eV6Y!wn5En\"}"
          },
          "queryString": [],
          "url": "https://api.cloudsploit.com/v2/signin"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1072,
            "text": "{\"status\":200,\"code\":0,\"data\":{\"token\":\"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjozMzM0NCwiYWNjb3VudF9pZCI6MTQ3MjYsImFjY291bnRfYWRtaW4iOnRydWUsInBsYW4iOiJhZHZhbmNlZCIsInVzZXJfZ3JvdXBzX3VzZXIiOltdLCJ1c2VyX2dyb3Vwc19hZG1pbiI6WyIyMTgwMyJdLCJjc3BfZW5hYmxlZCI6dHJ1ZSwiY3NwX21ldGFkYXRhIjp7InVybHMiOnsiZXNlX3VybCI6IjA3ZGU3NTlmMmMuY2xvdWQuYXF1YXNlYy5jb20iLCJlc2VfZ3dfdXJsIjoiIn19LCJjc3Bfcm9sZXMiOm51bGwsImNzcG1fdXJsIjoiaHR0cHM6Ly9jbG91ZC5hcXVhc2VjLmNvbSIsImV4cCI6MTY1NzUwNTk1MywiYXVkaXQiOnRydWUsInN0YiI6eyJ0cmlhbF9yZXBvc2l0b3JpZXMiOjEwMH0sInRyaWFsX2VuZCI6MTY1Nzc5ODIxMiwiaWF0IjoxNjU3NTAyMzUzfQ.GbBj2EE_oH-BIzjJ8fi9JnoC-_IBg92HrApc7BbAbrBxJ9Qp3-wMSJCSKG37Q0LSol_mIcJ71S2FnM5rT1_Vg-PPY7rE4TbtY0SuqpT278kTl6VN58JuJBZlOL4yTBMUU_8lsOSdMkPMSyfGsmILaVeChwFa8VaMuj_VMgdgrMBEoQ-2ADG5wRkOYsXMMHn7W-oKtE2jDURYA0UmsqPHggyIq1XrhIeq_NZ-LH6x3783QBaFtNBoY6jPOboUfX5skSpAU6HdgqazPGZHpnZWDH3cOpioyRnbZQMBVtX-r810YMOQvVREW9aGaTfa27tH8JC7iUwuaQng728HjMfsIw\",\"account_id\":14726,\"user_id\":33344,\"account_admin\":true,\"trial_end\":\"2022-07-14T11:30:12.000Z\",\"email\":\"paul.ilaga@creativice.com\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amzn-requestid",
              "value": "11bcd151-a3b3-4afc-ad69-ac1064239c25"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "VFAWrGEzoAMFihA="
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 569,
      },
      {
        "_id": "774d6c230e1c04f218db19092c9b3da7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://prov.cloud.aquasec.com/v1/envs"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 254,
            "text": "{\"data\":{\"env_id\":\"07de759f2c\",\"env_type\":\"trial\",\"plan\":\"advanced\",\"region\":\"us-east-1\",\"creation_date\":\"1656588614\",\"end_date\":\"1657798213\",\"account_id\":\"14726\",\"status\":\"active\",\"aqua_csp_version\":\"2206.4.10\",\"ese_url\":\"07de759f2c.cloud.aquasec.com\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            },
            {
              "name": "x-amzn-requestid",
              "value": "da40e940-ead3-40df-ab68-c55d82bd64dc"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "VFAW3HXpoAMFqaw="
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1090,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
